<!-- 模态框（Modal） -->
<div class="modal fade createFrom" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" style="width:auto;display:none">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               <%=cfg.title%>
            </h4>
         </div>
         <div class="modal-body">
            <form class="form-inline" role="form">
            <% var isNeedChange=true;%>
          <% _.each(cfg.columns, function(column,i) { %>
            <%if(isNeedChange){%>
            <% isNeedChange=false;%>
            <div class="form-group">
            <%}%>
               <label class="sr-only" for="name" style="width:120px;text-align:right;padding-right:20px;"><%=column.title%>：</label>
               <%if(column.type=="combox"){%>
                  <select class="form-control" id="<%=column.name%>" name="<%=column.name%>">
                     <option value="1">是</option>
                     <option value="0">否</option>
                  </select>
               <%}else if(column.type=="pwd"){%>
                 <input type="password" class="form-control" id="<%=column.name%>" name="<%=column.name%>"/>
               <%}else{%>
                  <input type="text" class="form-control" id="<%=column.name%>" name="<%=column.name%>" />
               <%}%>
            <%if(cfg.columns.length==i+1){%>
            </div>
            <%}else if(cfg.perColumnCount==1||(i+1)%cfg.perColumnCount==0){%>
            <% isNeedChange=true;%>
            </div>
            <br/>
            <%}%>
          <% }) %>
         </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary btn-commit">
               提交
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>